<div id="application" class="page">


  <style media="screen">
    .image-upload > input {
      display: none;
    }

    .image-upload label {
      display:block;
      margin-left: auto;
      margin-right: auto;
    }

    .profile-logo {
      height: 130px;
      cursor: pointer;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    #profile-logo:hover {
      opacity: 0.8;
    }

    .circular--landscape {
      display: block;
      position: relative;
      width: 175px;
      height: 175px;
      overflow: hidden;
      border-radius: 50%;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .circular--landscape img {
      width: auto;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }


  </style>


  <div class="divided title">
    Perfil
  </div>

  <div class="image-upload field">
    <label for="file-input">
      <div class="circular--landscape">
        <img id="profile-logo-placeholder" class="profile-logo" ng-show="!selectedPic" src="../assets/images/logoplaceholder.png"/>
        <img id="profile-logo-picture" class="profile-logo" ng-show="selectedPic" src="{{selectedPic}}"/>
      </div>
    </label>
    <input
      id="file-input"
      type="file"
      onChange='angular.element(this).scope().onFileSelected(this.files)'
      ng-model="user.profile.pic" />
  </div>

  <br>
  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Informação básica</div>

        <fieldset>

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Nome </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Local </label>
          <input class="ui input"
                 ng-model="user.profile.place">
        </div>

        <div class="field">
          <label>Eu sou</label>
          <input type="text"
                 placeholder="Designer, Programador, Empreendedor, ..."
                 ng-model="user.profile.description">
        </div>


        <div class="field">
          <label>
            Compartilhe algo legal sobre você
          </label>
          <textarea ng-model="user.profile.essay"
                    placeholder="Uma vez eu fui perseguido por dois cachorros mutantes"
                    >
          </textarea>
        </div>


        <br>

        <div class="field">
          <button type="submit"
                  class="fluid ui black button"
                  ng-click="submitForm()">
            Salvar
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
