
<style>
  #mdviewer {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: none;
    min-height: 500px;
  }
  #mdviewer-wrapper {
    padding: 10px !important;
  }

  .ui.dimmer {
    text-align: left !important;
  }

  #new-event-btn {
    float: right !important;
    margin-right: 10px;
    margin-bottom: 10px;
  }

</style>


<div class="ui segment">
  <div class="ui stackable grid">
    <div id="table-container" class="column">
      <div class="ui header">
        Eventos
        <button id="new-event-btn" class="btn btn-dark" ng-click="openNewEvent()"> Novo Evento </button>
      </div>

      <div class="modal admin-events bd-example-modal-lg">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
       <div class="modal-content">

         <div class="modal-header">
           <h5 class="modal-title">  <h2> {{selectedEvent.title}} </h2> </h5>

           <button type="button" class="close" ng-click="modalClose()" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div id="date-subtitle">
             <p>
               <b class='small title' ng-if="selectedEvent.startsAt">
                 {{selectedEvent.startsAt}}
               </b>
               <b class='small title' ng-if="selectedEvent.startsAt">
                 Até
               </b>
               <b class='small title' ng-if="selectedEvent.endsAt">
                 {{selectedEvent.endsAt}}
               </b>
             </p>
           </div>
           <br><br>

          <div id="event-description">
          </div>
        </div>

        </div>
      </div>
    </div>


      <div class="modal new-event-form bd-example-modal-lg">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title">  <b> Novo Evento </b> </h5>
           <button type="button" class="close" ng-click="closeNewEvent()" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">

           <div class="ui form">


           <fieldset>

           <div class="field">
             <label> Título </label>
             <input type="text"
                    name="name"
                    ng-model="event.title">
           </div>

             <div class="field">
               <label id="color-label">Cor</label>
               <select ng-model="event.color" name="cor">
                 <option ng-repeat="x in colors" value="{{x.code}}" ng-selected="x.code == event.color">{{x.name}}</option>
               </select>
             </div>


             <div class="field">
               <label>Tipo de Evento</label>
               <select
                 name="year"
                 ng-model="eventType">
                 <option value="long">Evento Longo</option>
                 <option value="point">Evento Pontual</option>
               </select>
             </div>

             <div class="field" ng-if="eventType == 'long'">
               <label> Começo </label>
               <input type="datetime-local"
                      ng-model="event.startsAt">
             </div>

             <div class="field">
               <label> {{ eventType == 'point' ? "Prazo" : "Fim"}} </label>
               <input type="datetime-local"
                      ng-model="event.endsAt">
             </div>


             <div class="ui divider"></div>

             <div class="field">
               <div class="">
                 <div class="btn-group">
                   <label
                     class="btn btn-outline-dark"
                     ng-click="toggleMarkdown()"
                     ng-model="viewMarkdown"
                     uib-btn-radio="false">Edição</label>
                   <label
                     class="btn btn-outline-dark"
                     ng-model="viewMarkdown"
                     ng-click="toggleMarkdown()"
                     uib-btn-radio="true">Preview</label>
                 </div>
               </div>

               <textarea
                         rows="7"
                         id="description-area"
                         ng-model="event.description"
                         ng-show="!viewMarkdown">
               </textarea>

               <div
                 id="mdviewer-wrapper"
                 class="border"
                 ng-show="viewMarkdown"
               >
                 <div id="mdviewer"></div>
               </div>
             </div>

           </fieldset>

           <div class="ui divider"></div>
           <div class="field">
             <button type="submit"
                     class="fluid ui black button"
                     ng-click="submitForm()">
               Salvar Evento
             </button>
           </div>


           </div>
        </div>
        </div>
      </div>
    </div>




      <table
        class="ui celled selectable compact users table">
        <thead>
          <tr>
            <th>Título</th>
            <th>Data</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr
            ng-click="selectEvent(evnt)"
            ng-repeat="evnt in events"
            ng-class="rowClass(evnt)">
            <td>
              <strong>
                {{evnt.title}}
                &nbsp;
              </strong>
            </td>

            <td>
              <strong>
                {{evnt.startAt ? (evnt.startAt + " até " + evnt.endsAt) : evnt.endsAt}}
                &nbsp;
              </strong>
            </td>

            <td
              class="collapsing">
              <button
                ng-click="goEvent($event, evnt)"
                class="ui circular mini basic icon button">
                <i class="linkify icon"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
