<style>

#modal-wrapper {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}

small.badge {
  display: none !important;
}

div[aria-expanded=true] {
    background-color:blue;
    display:block !important;
}

.cal-event-list {
  background-color: #333333 !important;
  font-family: Lato,'Helvetica Neue',Helvetica,sans-serif !important;
}

.a-css-class-name {
  text-align: left !important;
}

span .event {
  display: inline-block !important;
}

mwl-calendar .event {
    display: inline-block !important;
}

.ui.dimmer {
  text-align: left !important;
}

#modal-title {
  color:white;
}

.event-list-item {
  text-align: left;
}

</style>

<div id="dashboard" class="page">
  <div class="divided title">
    HOME
  </div>

  <div class="modal calendar-events bd-example-modal-lg">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">

     <div class="modal-header">
       <h2 class="modal-title" id="modal-title"> {{selectedEvent.title}} </h2>
       <button type="button" class="close" ng-click="modalClose()" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <div id="date-subtitle">
         <p>
           <b class='small title' ng-if="selectedEvent.startsAt">
             {{selectedEvent.startsAt}}
           </b>
           <b class='small title' ng-if="selectedEvent.endsAt">
             Até
           </b>
           <b class='small title' ng-if="selectedEvent.endsAt">
             {{selectedEvent.endsAt}}
           </b>
         </p>
       </div>
       <br><br>

      <div id="event-description">
      </div>
    </div>

    </div>
  </div>
</div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
           Bem vindo de volta, {{user.profile.name}}!
        </div>
        <br>

        <div class="ui divider"></div>
        <div class="small title"> {{calendarTitle}} </div>
        <br>

        <div class="row">
          <div class="col-md-6 text-center">
            <div class="btn-group">
              <button
                class="btn cal-mod btn-outline-dark"
                mwl-date-modifier
                date="viewDate"
                decrement="view">
                Antes
              </button>
              <button
                class="btn cal-mod btn-outline-dark"
                ng-click='setToToday()'
                >
                Hoje
              </button>
              <button
                class="btn cal-mod btn-outline-dark"
                mwl-date-modifier
                date="viewDate"
                increment="view">
                Depois
              </button>
            </div>
          </div>

          <br class="visible-xs visible-sm">
          <div class="col-md-6 text-center">
            <div class="btn-group">
              <label class="btn btn-outline-dark" ng-model="view" uib-btn-radio="'year'">Ano</label>
              <label class="btn btn-outline-dark" ng-model="view" uib-btn-radio="'month'">Mês</label>
              <label class="btn btn-outline-dark" ng-model="view" uib-btn-radio="'day'">Dia</label>
            </div>
          </div>
        </div>
        <br>

        <mwl-calendar
            view="view"
            view-date="viewDate"
            events="events"
            cell-auto-open-disabled="false"
            view-title="calendarTitle"
            on-event-click="clickEvent(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
        </mwl-calendar>
        <br>
        <div class="ui divider"></div>
        <br>
        <div class="small title divided">
           Próximos eventos
        </div>


        <ul class="list-group">
          <li ng-repeat="event in comingEvents" ng-click="clickEvent(event)" class="event-list-item list-group-item btn btn-outline-dark">
            <i class="ion-md-square" style="color: {{event.color.primary}}"></i>
            &nbsp; {{event.title}}
          </li>
        </ul>


   <br>
   <div class="ui divider"></div>
   <br><br>
        <div
          ng-if="dashState('openAndSubmitted')"
          class="description">

          <div class="ui black button"
               ui-sref="app.application">
            Editar Perfil
          </div>

          <div
            class="ui black button"
            ng-show="user.teamCode"
            ui-sref="app.team">
            Sua Equipe
          </div>

          <div
            class="ui black button"
            ng-show="!user.teamCode"
            ui-sref="app.team">
            Sua Equipe
          </div>

        </div>


      </div>

    </div>
  </div>
</div>
